<footer class="footer">
  <div class="center-image">
    <span>This page was built using
      a <a href="https://github.com/Deep-Symmetry/antora-ui">modified
      version</a> of the Antora default UI. The source code for this UI is
      licensed under the terms of the MPL-2.0 license.</span>
    <span>
      <a href="https://www.netlify.com">
        <img class="netlify-badge" src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"
             alt="Netlify"/>
      </a>
    </span>
  </div>
</footer>
