<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_ENABLED}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://deep-symmetry.zulipchat.com/join/lp5i6yolkay7erzjzodx365q/">Community Chat</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitter.im/brunchboy/afterglow">Afterglow</a>
            <a class="navbar-item" href="https://deep-symmetry.zulipchat.com/join/lp5i6yolkay7erzjzodx365q/">Beat Link Trigger</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://github.com/Deep-Symmetry">Projects</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/afterglow#afterglow">Afterglow</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/beat-link">Beat Link</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/beat-link-trigger">Beat Link Trigger</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/carabiner#carabiner">Carabiner</a>
            <a class="navbar-item" href="https://github.com/DerekCook/CoreMidi4J">CoreMidi4J</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/crate-digger#crate-digger">Crate Digger</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/dysentery">Dysentery</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/electro#electro">Electro</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/ola-clojure#ola-clojure">OLA-Clojure</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/open-beat-control">Open Beat Control</a>
            <a class="navbar-item" href="https://github.com/Deep-Symmetry/wayang#wayang">Wayang</a>
          </div>
        </div>
        <a class="navbar-item" href="https://deepsymmetry.org">Home</a>
      </div>
    </div>
  </nav>
</header>
